<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated G4SOptiPost -->
      <package
            uri="http://www.misc.com/projects/g4s/optipost/model/0.1"
            class="com.misc.projects.g4s.G4SOptiPost.G4SOptiPostPackage"
            genModel="model/G4SOptiPost.genmodel"/>
   </extension>

</plugin>
